.theme-dark{
  --navmenubg: rgba(0, 0, 0, 0.95);
}

.theme-light{
  --navmenubg: rgba(255, 255, 255, 0.90);
}

/*******************
        HEADER
********************/
header {
    height: 4em;
}

header h1 {
    width: 55%;
    height: 100%;
}

/*******************
      NAVIGATION
********************/

#menu ul {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 4em;
    z-index: 1; /*display on top of everything so images don't fuck things up*/
    width: fit-content;
    height: fit-content;
    background-color: var(--navmenubg);
    padding: 2em;
    border-radius: 1em;
    order: 3; /*set display order to 3 post hamburger*/
}

#menu li {
    margin: 0em 0em 1em 0em; /*resetta il margine sulla sisnistra e lo mette sotto*/
}

#hamburger {
    display: block;
    text-align: center;
    /*hidden by default in main style, unhidden in mini*/
    min-height: 44px;
    min-width: 44px;
    background: none;
    border: none;
    color: var(--txtcolor);
    font-size: 44px;
    order: 2; /*set display order to 2 per menu*/
    cursor: pointer;  
}

#hamburger:after {
    position: relative;
    top: -4px; /*adjust position of hamburger, pixel comparsi da non si sa dove*/
    content: "\2630";
}

#hamburger span {
    display: block;
    text-indent: -9999em;
    font-size: 1px;
}

#breadcrumb {
    font-size: 1.2em;
}

#breadcrumb img {
    width: .8em;
    height: .8em;
    margin: 0em 0.1em 0em .8em;
}

#breadcrumb p {
    padding: 0.5em;
    padding-left: 0;
    font-size: .8em;
}


/*******************
       CONTENT
********************/

main h1 {
    margin: .5em 0 .2em .5em;
}

main h2 {
    margin: .5em 0 .2em .5em;
}

#products li p {
    font-size: 1em;
}

.productTitle {
    font-size: 1.2em;
}

/*******************
 SLIDESHOW CONTAINER
********************/

.mySlides img {
    max-width: 100%;
    max-height: 32vh;
    border-radius: 1rem;
}

.prev,
.next {
    display: none;
}

/*******************
       CARDS
********************/

#partnerCards .prev, #partnerCards .next { /*prev e next disabilitate per slideshow ma abilitate per cards*/
    display: block;
}

/*******************
    BACK TO TOP
********************/
#toTop {
    width: 42px;
    height: 42px;
    border-radius: 11px;
    bottom: 42px;
    right: 42px;
}

/*******************
       FOOTER
********************/
footer {
    flex-direction: column;
}

/*******************
       TABLE
********************/

table {
    width: 80%;
}

#hoursTable {
    margin-right: 0;
}

/*
thead, tfoot{
    display: none;
}

tr, th , td {
    display: block;
}

td[data-title]::before, th[data-title]::before {
    content: attr(data-title)":\00A0";
    font-weight: bold;
}

#hoursTable th[scope="row"] {
    font-size: 1em;
    text-align: center;
    background-color: var(--theadcolor);
}

tbody tr:last-child :first-child { /*reset settings of style thead not displayed so useless reset
  border-bottom-left-radius: 0;
}

tbody tr:last-child :last-child {
  border-bottom-right-radius: 0;
}

tbody tr:first-child :first-child {
  border-top-left-radius: 1em;
}

tbody tr:first-child :last-child {
  border-top-right-radius: 1em;
}/**/

/*******************
     LOGIN PAGE
********************/

/*******************
      chiSiamo
********************/