.theme-dark{
  --navbarbg: #050505;
  --navmenubg: rgba(0, 0, 0, 0.95);
  --breadcrumbbg: #181818;
  --breadcrumbsvg: invert(100%) sepia(100%) saturate(0%) hue-rotate(302deg) brightness(101%) contrast(102%);
  --breadcrumbshadowcolor: #6B6B6B;
  --footerbg: rgba(0, 0, 0, 0.35);
  /*--generalshadow: 0px 5px 10px -5px var(--breadcrumbshadowcolor); */
  --bodybgcolor: #050505;
  --bodylineheight: 1.9em; /*line height ok per dislessia, almeno 1.5*/
  --globaltxtsize: 1em;
  --txtcolor: #f1f1f1;
  --linkcolor: #1BDC88;
  --linkvisitedcolor: #BD89EB;
  --currentnavpagetxtcolor: black;
  --currentnavpagebg: #1BDC88;
  --navlinkhoverbg: white;
  --navlinkhovercolor: black;
  --themebg: #f1f1f1;
  --themebgimg: url(../img/theme/moon.png);
  --themeborder: #fff;
  --cardbg: #181818;
  --cardshadow: #141414;
  --cardLogobg: #fff;
  --cardtitlesize: 1.2em;
  --animatedformcolor: #1BDC88;
  --theadcolor: #4D4D4D;
  --tbodycolor: #363535;
  --iconpos: left;
  --formbuttoncolor: #1BDC88;
  --footertxtsize: .8em;
  --tabletxtsize: .7em;
  --logo: url(../img/logo-sfondo-nero.webp);
}

.theme-light{
  --navbarbg: white;
  --navmenubg: rgba(255, 255, 255, 0.95);
  --breadcrumbbg: white;
  --breadcrumbsvg: none;
  --breadcrumbshadowcolor: #6B6B6B;
  --footerbg: white;
  --bodybgcolor: white;
  --bodylineheight: 1.9em; /*line height ok per dislessia, almeno 1.5*/
  --globaltxtsize: 1em;
  --txtcolor: black;
  --linkcolor: blue;
  --linkvisitedcolor: #681DA8;
  --currentnavpagetxtcolor: black;
  --currentnavpagebg: #1BDC88;
  --navlinkhoverbg: black;
  --navlinkhovercolor: white;
  --themebg: #f1f1f1;
  --themebgimg: url(../img/theme/light.png);
  --themeborder: #000;
  --cardbg: white;
  --cardshadow: #141414;
  --cardLogobg: #fff;
  --cardtitlesize: 1.2em;
  --animatedformcolor: #1BDC88;
  --tableoddrowcolor: #4D4D4D;
  --tableevenrowcolor: #363535;
  --iconpos: right;
  --formbuttoncolor: #1BDC88;
  --footertxtsize: .8em;
  --logo: url(../img/logo-sfondo-bianco.webp);
}

html,
body {
    font-size: 1em;
    font-family: "Verdana", sans-serif;
    line-height: 1.5em;
    margin: auto;
}

html {
    background: var(--bodybgcolor);
    /*scroll-behavior: smooth; /*smooth scroll su tutta la pagina o link che snappano?*/
}

a {
    color: var(--linkcolor);
}

a:visited {
    color: var(--linkvisited);
}

a:hover {
    color: var(--linknavhovercolor);
}

/*******************
        HEADER
********************/
header {
    height: 4em;
}

header h1 {
    width: 55%;
    height: 100%;
}

/*******************
      NAVIGATION
********************/

#menu ul {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 4em;
    z-index: 1; /*display on top of everything so images don't fuck things up*/
    width: fit-content;
    height: fit-content;
    background-color: var(--navmenubg);
    padding: 2em;
    border-radius: 1em;
    order: 3; /*set display order to 3 post hamburger*/
}

#menu li {
    margin: 0em 0em 1em 0em; /*resetta il margine sulla sisnistra e lo mette sotto*/
    padding: 0;
}

#hamburger {
    display: block;
    text-align: center;
    /*hidden by default in main style, unhidden in mini*/
    min-height: 44px;
    min-width: 44px;
    background: none;
    border: none;
    color: var(--txtcolor);
    font-size: 44px;
    order: 2; /*set display order to 2 per menu*/
    cursor: pointer;  
}

#hamburger:after {
    position: relative;
    top: -4px; /*adjust position of hamburger, pixel comparsi da non si sa dove*/
    content: "\2630";
}

#hamburger span {
    display: block;
    text-indent: -9999em;
    font-size: 1px;
}

#breadcrumb {
    font-size: 1.2em;
}

#breadcrumb img {
    width: .8em;
    height: .8em;
    margin: 0em 0.1em 0em .8em;
}

#breadcrumb p {
    padding: 0.5em;
    padding-left: 0;
    font-size: .8em;
}


/*******************
       CONTENT
********************/

main h1 {
    margin: .5em 0 .2em .5em;
}

main h2 {
    margin: .5em 0 .2em .5em;
}

main ul {
    margin-left: 3em;
}

#products {
    color: var(--txtcolor);
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0em;
    justify-content: center;
    margin-top: 2em;

}

#products li {
    padding: 10px;
    border-radius: 10px;
    flex: 0 0 270px;
    text-align: center;
    border: solid white 1px;
    margin: 1em;
}

#products li p {
    font-size: 1em;
}

.productTitle {
    font-size: 1.2em;
}

/*******************
 SLIDESHOW CONTAINER
********************/

.mySlides img {
    max-width: 100%;
    max-height: 32vh;
    border-radius: 1rem;
}

.prev,
.next {
    display: none;
}

/*******************
       CARDS
********************/

#partnerCards .prev, #partnerCards .next { /*prev e next disabilitate per slideshow ma abilitate per cards*/
    display: block;
}

/*******************
    BACK TO TOP
********************/
#toTop {
    width: 42px;
    height: 42px;
    border-radius: 11px;
    bottom: 42px;
    right: 42px;
}

/*******************
       FOOTER
********************/

/*******************
       TABLE
********************/

table {
    border-collapse: collapse;
}

table caption {
    font-weight: bold;
    font-size: 1.2em;
}

table thead {
    background-color: var(--tableoddrowcolor);
}

table tbody {
    background-color: var(--tableoddrowcolor);
}

#tabOrari {
    font-size: 0.6em;
}

#tabOrari th[scope="row"] {
    text-align: left;
    padding: 0.2em;
}

#tabOrari td {
    text-align: center;
    padding: 0.2em;
}

/*******************
     LOGIN PAGE
********************/

/*******************
      chiSiamo
********************/