.theme-dark{
  --navbarbg: #050505;
  --breadcrumbbg: #181818;
  --breadcrumbsvg: invert(100%) sepia(100%) saturate(0%) hue-rotate(302deg) brightness(101%) contrast(102%);
  --breadcrumbshadowcolor: #6B6B6B;
  --footerbg: #050505;
  /*--generalshadow: 0px 5px 10px -5px var(--breadcrumbshadowcolor); */
  --bodybgcolor: #050505;
  --bodylineheight: 1.9em; /*line height ok per dislessia, almeno 1.5*/
  --globaltxtsize: 1em;
  --txtcolor: #f1f1f1;
  --linkcolor: #139A60;
  --linkvisitedcolor: #9E51E1;
  --currentnavpagetxtcolor: #000;
  --currentnavpagebg: #139A60;
  --navlinkhoverbg: #fff;
  --navlinkhovercolor: #000;
  --themebg: #f1f1f1;
  --themebgimg: url(../img/theme/moon.png);
  --themeborder: #fff;
  --cardbg: #181818;
  --cardshadow: #141414;
  --cardLogobg: #fff;
  --cardtitlesize: 1.2em;
  --animatedformcolor: #139A60;
  --theadcolor: #4D4D4D;
  --tbodycolor: #363535;
  --iconpos: left;
  --formbuttoncolor: #139A60;
  --footertxtsize: .9em;
  --logo: url(../img/logo.svg);
}

.theme-light{
  --navbarbg: #fff;
  --breadcrumbbg: #fff;
  --breadcrumbsvg: none;
  --breadcrumbshadowcolor: #6B6B6B;
  --footerbg: #fff;
  --bodybgcolor: #fff;
  --bodylineheight: 1.9em; /*line height ok per dislessia, almeno 1.5*/
  --globaltxtsize: 1em;
  --txtcolor: #000;
  --linkcolor: #0F7B4C;
  --linkvisitedcolor: #8023D1;
  --currentnavpagetxtcolor: #fff;
  --currentnavpagebg: #0F7B4C;
  --navlinkhoverbg: #000;
  --navlinkhovercolor: #fff;
  --themebg: #f1f1f1;
  --themebgimg: url(../img/theme/light.png);
  --themeborder: #a5a5a5;
  --cardbg: #fff;
  --cardshadow: #141414;
  --cardLogobg: #e1e1e1;
  --cardtitlesize: 1.2em;
  --animatedformcolor: #0F7B4C;
  --theadcolor: #e1e1e1;
  --tbodycolor: #fff;
  --iconpos: right;
  --formbuttoncolor: #0F7B4C;
  --footertxtsize: .9em;
  --logo: url(../img/logo.svg);
}


* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 1em;
  font-family: "Verdana", sans-serif;
  line-height: 1.5em;
  margin: auto;
  background: var(--bodybgcolor);
}

body {
  max-width: 1024px;
  margin: auto;
  color: var(--txtcolor);
}

a {
  color: var(--linkcolor);
}

a:visited {
  color: var(--linkvisitedcolor);
}

button, input[type="submit"], input[type="reset"], input[type="button"] {
  background-color: var(--linkcolor);
  color: var(--txtcolor);
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  background-color: var(--navlinkhoverbg);
  color: var(--navlinkhovercolor);
}


.aiuti {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  top: auto;
}

.serverStringError {
  text-align: center;
}

#breadcrumb, #products li, #contactsList li, #serviceList li, #partnerList li, .cards li {
  box-shadow: 0px 5px 10px -5px var(--breadcrumbshadowcolor);
}

/*******************
        HEADER
********************/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  color: var(--txtcolor);
  height: 5em;
  background-color: var(--navbarbg);
}

header h1 {
  width: 30%;
  height: 100%;
  background: var(--logo) no-repeat center left;
  filter: var(--breadcrumbsvg);
  background-size: 100%;
  /*fit the image without cutting it*/
  background-position: left;
  text-indent: -9999em;
  font-size: 1px;
}

.helps {
  display: none;
}

/*******************
      NAVIGATION
********************/

#menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--txtcolor);
  font-size: 1em;
  white-space: nowrap;
}

#menu ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

#menu li {
  padding: 0em 0em 0em .5em;
  align-self: center;
  /*left padding to properly align to the right the menu no right padding and no flex grow to minimize space*/
}

#menu a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  padding: .5em .5em;
  border-radius: 1em;
  min-height: 30px;
  min-width: 44px;
}

#menu a:visited {
  color: var(--linkvisitedcolor);
}

/*top bottom left right padding in order to eliminate the text movement*/
#menu a:hover {
  background-color: var(--navlinkhoverbg);
  color: var(--navlinkhovercolor);
  /*border-radius: 1em;
  padding: .5em .5em; /*top bottom left right padding, introducing it with linear transition moves the text to respect li padding to remove this effect add the same padding in a "non active"*/
  transition: linear 0.14s;
}

#menu a.active{
  background-color: var(--currentnavpagebg);
  color: var(--currentnavpagetxtcolor);
  pointer-events: none;
  cursor: default;
}

#hamburger {
  display: none;
  /*hidden by default in main style, unhidden in mini*/
}


/*--------------------------------------------------------------------------------------------------------------------------------------------*/

#themeButton {
  /*button to change theme with increased specificity to overwrite previous settings on hover*/
  width: 70px;
  height: 30px;
  background: var(--themebgimg) no-repeat center;
  background-size: contain;
  /*fit the image cutting it no stretch*/
  background-color: var(--themebg);
  background-position: var(--iconpos);
  /*when clicked change property throug js to right and bgcolor to #000*/
  transition: linear 0.1s;
  border-radius: 15px;
  border: 2px solid var(--themeborder);
  
  font-size: 1px;
  text-indent: -9999em;
  cursor: pointer;
  margin: 0em 10px; /*siccome cambiare font size cambia anche il valore di un em setto il margine ad uun valore assoluto*/
}

#breadcrumb {
  background-color: var(--breadcrumbbg);
  border-radius: 5px;
  color: var(--txtcolor);
  font-size: 1em;
  margin-bottom: 2em;
}

#breadcrumb img {
  height: var(--globaltxtsize);
  width: var(--globaltxtsize);
  margin-left: .4em;
  margin-right: .1em;
  filter: var(--breadcrumbsvg);
}
#breadcrumb p{
  display: inline;
  margin: 0em;
  padding: 0em;
}

#breadcrumb a:hover {
  transition: linear 0.14s;
}

/*******************
       CONTENT
********************/

main h1 {
  margin: 1em 0.5em 1em;
  text-align: center;
}

main h2 {
  margin: 1em 0.5em 1em;
  text-align: center;
}

#products {
  color: var(--txtcolor);
  display: flex;
  flex: 0 0;
  flex-wrap: wrap;
  list-style: none;
  padding: 0em;
  justify-content: center;
  margin-top: 2em;
}

#products li {
  display: block;
  padding: 10px;
  border-radius: 10px;
  height: 300px;
  width: 300px;
  text-align: center;
  background-color: var(--cardbg);
  margin: 1em;
}

#products img {
  max-width: 50%;
  max-height: 50%;
}

#products li h3{
  font-size: var(--cardtitlesize);
  margin-bottom: .7em;
}

/*******************
 SLIDESHOW CONTAINER
********************/

.slideshowContainer {
  width: fit-content;
  position: relative;
  /*to position the prev and next buttons*/
  margin: 0 auto;
}

.mySlides {
  display: none;
}

.mySlides:first-child {
  display: block;
}

.mySlides img {
  max-height: 40vh; /*voglio occupi al massimo il 40% della viewport per lasciare spazio agli altri contenuti*/
  width: auto;
  border-radius: 1em;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  min-width: 44px; /*per accessibilità*/
  min-height: 30px;
  margin-top: -1em;
  font-size: 2em;
  color: var(--txtcolor);
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  border-width: 0;
  user-select: none;
  background-color: var(--bodybgcolor);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  color: var(--linkcolor);
}

#dots {
  text-align: center;
}

#dots .active {
  background-color: var(--linkcolor);
}

.dot {
  cursor: pointer;
  height: 1.2em;
  width: 1.2em;
  margin: 0 2px;
  background-color: var(--txtcolor);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  overflow: hidden;
  text-indent: -999em;
  border: 0;
}
.dot:hover {
  background-color: var(--linkcolor);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/*******************
    SERVICE LIST
********************/

#serviceList {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

#serviceList li {
  text-align: center;
  flex: 0 1 300px; /*no grow*/
  margin: 1em;
  padding: .5em;
  border-radius: 2em;
  background-color: var(--cardbg);
}

#serviceList li h3 { /*eredito h2 sono già centrato comunque allineo tutto nell'#serviceList li al centro*/
  font-size: var(--txtsize);
  margin-bottom: .7em;
  margin: .7em 0.5em .7em;
  text-align: center;
}

#serviceList li p {
  margin: .5em .5em;
  text-align: left;
  font-size: small;
}

/*******************
    Partner List
********************/

#partnerCards{
  position: relative; /*perchè i bottoni prendano come riferimento per absolute la posizione del box padre*/
}

#partnerCards .prev,
#partnerCards .next { /*eredito e sovrascrivo bottoni next e prev*/
  top: 50%;
  width: 44px; /*per accessibilità*/
  height: 44px;
  margin-top: -1em;
  margin-left: 1em; /*non va più bene quando la 80vw < 1024px, contenitore riscala e frecce no perchè passa da riferimento body 1024px a 1em dal bordo*/
  margin-right: 1em;
  font-size: 1em;
  padding: 0em;
  color: var(--txtcolor);
  border-radius: 22px;
  background: none;
  transition: none;
}

#partnerCards .prev:hover,
#partnerCards .next:hover {
  background-color: var(--bodybgcolor);
  color: var(--linkcolor);
}

#partnerList {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  max-width: 1024px; /*80% della larghezza del viewport per "bellezza" sono interessato solo alla card centrale, quindi non mi interessa il limite 1024px*/
  overflow: hidden;
}

@media screen and (max-width: 1024px) { /*se la larghezza è minore di 1024px riscalo la larghezza delle card per evitare facciano schifo*/
  #partnerList {
    max-width: 90vw;
  }

  #partnerCards .prev,
  #partnerCards .next {
    margin-left: 6vw;
    margin-right: 6vw;
  }
}

#partnerList li {
  list-style: none;
  display: block;
  position: relative; /*mi permette di spostare gli li all'interno del flexbox*/
  left: calc(50% - 165px); /*per centrare la card nello schermo*/
  /*transform: translate(-390px);/**/
  height: 330px;
  margin-left: 60px; /*margini in px per sapere le distanze di cui traslare in js*/
  margin-top: .7em;
  margin-bottom: .7em;
  color: var(--txtcolor);
  background-color: var(--cardbg);
  border-radius: 1em;
}

#partnerList li:first-child {
  margin-left: 0;
}

#partnerList .cardLogo {
  background-color: var(--cardLogobg);
  border-radius: 1em 1em 0 0;
}

#partnerList a {
  display: block;
  margin: auto; /*overwrite margini di default*/
  width: 330px;
  height: 60px;
  overflow: hidden;
  text-indent: -9999px;
  font-size: 1px;
}

#partnerList p {
  text-align: justify;
  margin: 1em;
  font-size: .85em;
}

#partnerList p::before{
  content: "\201C";
}

#partnerList p::after{
  content: "\201D";
}

#partnerList .partnerCard a { /*dovuto incrementare specificità per overwrite*/
  background-size: contain;
  background-position: center;
  max-width: 90%;
  max-height: 90%;
}

#partner1 a {
  background: url(../img/partners/ksenia_logo.png) no-repeat center;
}

#partner2 a {
  background: url(../img/partners/hesa_logo.png) no-repeat center;
}

#partner3 a {
  background: url(../img/partners/hikvision_logo.svg) no-repeat center;
}

#partner4 a {
  background: url(../img/partners/microtik_logo.svg) no-repeat center;
}

#partner5 a {
  background: url(../img/partners/solarEdge_logo.svg) no-repeat center;
}

#partner6 a {
  background: url(../img/partners/ditec_logo.svg) no-repeat center;
}

#partner7 a {
  background: url(../img/partners/fronius_logo.png) no-repeat center;
}

#partner8 a {
  background: url(../img/partners/carrier_logo.svg) no-repeat center;
}

#partner9 a {
  background: url(../img/partners/cambium_networks.svg) no-repeat center;
}

/*******************
    BACK TO TOP
********************/
#toTop {
  display: none;
  font-size: 1.6em;
  font-weight: bold;
  color: var(--bodybgcolor);
  background-color: var(--linkcolor);
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  position: fixed;
  bottom: 50px;
  right: 50px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  z-index: 1000;
}

#toTop span {
  display: block;
  font-size: 1px;
  text-indent: -9999em;
}

#toTop::after {
  content: "\21EA";
  position: relative;
  left: -1px;
}

#toTop:hover {
  cursor: pointer;
  border: 3px solid var(--txtcolor);
}

/*******************
       FOOTER
********************/


footer { /*footer fatto con flex per semplicità di riscalatura*/
  margin-top: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: var(--footertxtsize);
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--footerbg);
}

#contactsOnFooter {
  flex: 1 1;
  padding: 1em;
  min-width: 220px;
}

#contactsOnFooter li {
  list-style: none;
}

#contactsOnFooter ul li span {
  display: inline-block;
  padding-top: 2em;
}

/*******************
       TABLE
********************/

table{
  border-collapse: collapse;
  border-radius: 1em;
}

caption {
  margin-bottom: 0.7em;
  font-weight: bold;
  font-size: 1.2em;
}

table thead {
  background-color: var(--theadcolor);
}

table tbody {
  background-color: var(--tbodycolor);
}

#hoursTable {
  box-shadow: 0px -5px 10px -5px var(--breadcrumbshadowcolor);
  flex: 2 1;
  margin-right: 1em;
  margin-left: 1em;
}

#hoursInTxtFormat {
  display: none;
}

#hoursTable th {
  font-weight: bold;
}

thead tr:first-child :first-child { /*perchè border collapse poi non permette di mettere il radius*/
  border-top-left-radius: 1em;
}

thead tr:first-child :last-child {
  border-top-right-radius: 1em;
}

tbody tr:last-child :first-child {
  border-bottom-left-radius: 1em;
}

tbody tr:last-child :last-child {
  border-bottom-right-radius: 1em;
}

#hoursTable th[scope="row"]{
  text-align: left;
  padding-left: 1em;
}

#hoursTable td, th {
  font-size: var(--footertxtsize);
  text-align: center;
  padding: .2em;
}

/*******************
       LOGIN PAGE
********************/
#loginContainer {
  width: 50%;
  border-radius: 10px;
  padding: 2em 2em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  box-shadow: rgba(252, 252, 252, 0.15) 0px 2px 8px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  border: 2px solid #ccc;
  font-size: 1em;
}

input[type="submit"] {
  background-color: var(--formbuttoncolor);
  color: var(--txtcolor); /*per rispettare contrasto*/
  border: none;
  font-size: 1em;
  font-weight: bold;
  width: 100px;
  margin-top: 1em;
}

input[type="submit"]:hover {
  background-color: #333;
  cursor: pointer;
}

#loginContainer p{
  float: left;
}

#loginContainer form {
  flex-grow: 1;
}

/*******************
      chiSiamo
********************/
.cards {
  margin: -10px;
  padding: 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#staff h2 {
	text-align: center;
  margin-bottom: 1em;
}

/*******************
    CONTATTI PAGE
********************/


#contactsContainer {
  align-items: center;
  font-size: var(--globaltxtsize);
  margin-top: 2em;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
}

#contactsContainer li{
  list-style: none;
}


#contactsList ul {
  padding: 0em;
  margin-left: 0em;
  margin-bottom: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

#contactList ul a:visited {
  color: var(--linkvisitedcolor);
}
#contactsList h2{
  margin-bottom: 1em;
}

#contactsList li {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  background-color: var(--cardbg);
  border-radius: 3em;
  flex: 0 1 30px;
  padding: 1em;
  text-align: center;
  width: 65%;
  min-width: 200px;
}

#contactsList a { /*per andare a capo con i link*/
  display: block;
}

#contactsList {
  flex: 1.5 1;
  text-align: center;
}

#formRequestsContainer {
  flex: 2 1;
  text-align: center;
}

#formRequestsContainer input, textarea {
  width: 80%;
  padding:.8em;
  min-width: 12em;
}

#formRequestsContainer input[type="text"], input[type="tel"], textarea {
  border-radius: 0.5em;
}

#requestsForm textarea {
  height: 4em;
}

textarea {
  border: 2px solid #ccc;
  font-family: "Verdana", sans-serif;
  font-size: var(--globaltxtsize);
}

#requestsForm label {
  margin-bottom: .5em;
  margin-top: 1.5em;
  text-align: center;
}

#requestsForm input[type="submit"]{
  width: 30%;
  margin-top: 2em;
  background-color: var(--cardbg);
  border-radius: 3em;
}

#requestsForm input[type="text"]:hover, input[type="tel"]:hover, textarea:hover {
  transition: linear 0.14s;
}

#requestsForm input[type="submit"]:hover {
  background-color: var(--navlinkbg);
}

#agreementBlock label, input {
  margin: 0em;
}

.cards li {
  color: var(--txtcolor);
  background-color: var(--cardbg);
  margin: 0 10px 20px 10px;
  padding: 10px;
  border-radius: 2em;
  flex: 0 0 400px;
  text-align: center;
}

/******************* 404 PAGE *******************/
#title404 {
  text-align: center;
}

#subtitle404 {
  margin: 1.5em 0em 2em 2em;
}

#advice {
  margin: auto;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  padding-left: 0;
}

#advice li {
  list-style-position: outside;
}

#advice a {
  background-color: var(--cardbg);
  text-decoration: none;
  padding: 1em;
  border-radius: 2em;
  text-decoration: underline;
}

#advice a:hover {
  transition: linear 0.14s;
  background-color: var(--bodybgcolor);
}

#contactsOnFooter h4 {
  font-size: 1.4em;
  margin-bottom: 0em;
}

/******************* INSERIMENTO PRODOTTO *******************/
#adminButtons {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}


#adminButtons button {
  flex: 1 1 300px;
  border-radius: 2em;
  padding: 1.2em;
  margin: 1em 1.5em 2em 1.5em;
  border: none;
  font-weight: bold;
  font-size: var(--txtsize);
}

#buttonsForm {
  display: none;
}

#operationForm {
  text-align: center;
  display: block;
  background-color: var(--cardbg);
  position: relative;
  width: 90%;
  margin: auto;
  border-radius: 2em;
  box-shadow: 0px 5px 10px -5px var(--breadcrumbshadowcolor);
}

#operationForm *{
  padding: .4em;
}

#operationForm label {
  margin-top: 1.5em;
  display: block;
}

#operationForm div{
  position: relative;
  margin: auto;
  width: 100%;
}

#operationForm input, textarea, select {
  position: relative;
  width: 65%;
}

#modAndDelInputs {
  display: none;
}

#modAndDelInputs select {
  margin-top: 1.5em;
  padding-left: 0em;
}

#operationForm .opFormButton {
  width: 30%;
  margin: 1em;
  margin-bottom: 3em;
  margin-top: 2em;
}

#operationForm textarea{
  height: 4em;
}

.active {
  background-color: var(--currentnavpagebg);
  color: var(--currentnavpagetxtcolor);
  pointer-events: none;
  cursor: default;
}

