:root{
  --navbarbg: #050505;
  --breadcrumbbg: grey;
  --footerbg: rgba(0, 0, 0, 0.35);
  --bodybgcolor: #050505;
  --bodylineheight: 1.9em;
  --txtnavhovercolor: #007cb0;
  --txtcolor: #f1f1f1;
  --linkcolor: #1BDC88;
  --linkvisited: #1BDC88;
  --socialslinkcolor: #007cb0;
  --socialshovercolor: #fff;
  --animatedformcolor:#1BDC88;
  /*take the min from the min of vw, vh or 
  if it is too big take the minumum of default text size*/
  --globaltxtsize: min(min(1.5vh, 1.5vw), 1em);/* adaptive text */
  /*--globaltxtsize: 1em;/* */
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
    font-size: 100%;
    font-family: "Verdana", sans-serif;
    line-height: 1.5em;
    margin: auto;
}

html {
    background: var(--bodybgcolor);
}

body {
    max-width: 1024px;
    margin: auto;
    background-color: var(--bodybgcolor);
    color: var(--txtcolor);
}

/*******************
        HEADER
********************/
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  color: var(--txtcolor);
  height: calc(10*var(--globaltxtsize));
  background-color: var(--navbarbg);
}

header > * { /*all the children of header grow to fit container and center themself in it*/
  align-self: center;
  flex-grow: 0;
}

header h1 {
  display: block;
  width: 30%;
  height: 100%;
  background: url(../img/logo-sfondo-nero.webp) no-repeat center left;
  background-size: contain; /*fit the image without cutting it*/
  background-position: left;
  text-indent: -9999em;
  font-size: 1px;
}

header h2 {
  padding: 0.5em;
  margin-top: 0.7em;
}

h2{
  font-size: 1.8em;
}

/*******************
      NAVIGATION
********************/
nav, div {
  display: block;
}

#hamburgerButton{
  display: none; /*hidden by default in main style, unhidden in mini*/
}

#menu{
  text-align: right;
  width: 70%;
  height: calc(3*var(--globaltxtsize));
  color: var(--txtcolor);
  font-size: var(--globaltxtsize);
}

#menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  height: 100%;
  list-style-type: none;
  margin: 0;
  position: relative;
}

#menu li {
  padding: 0em 0em 0em 1.5em; /*left padding to properly align to the right the menu no right padding and no flex grow to minimize space*/
}

#menu a {
  color: var(--txtcolor);
  text-decoration: none;
  font-weight: bold;
  font-size: var(--globaltxtsize);
}

#menu a:visited{
  color: var(--txtcolor);
}

#menu a {
  padding: .5em .5em;
} /*top bottom left right padding in order to eliminate the text movement*/

#menu a.active, #menu a:hover {
  background-color: #717171;
  transition: linear 0.14s;
  border-radius: 1em;
  padding: .5em .5em; /*top bottom left right padding, introducing it with linear transition moves the text to respect li padding to remove this effect add the same padding in a "non active"*/
}

#menu a:hover { /*post li a:visited altrimenti non sovrascrive*/
color: var(--linkcolor);
}

#themeButContainer #themeButton{ /*button to change theme with increased specificity to overwrite previous settings on hover*/
  display: block;
  width: 80px;
  height: 30px;
  background: url(../img/prova.png) no-repeat center;
  background-size: contain; /*fit the image cutting it no stretch*/
  background-color: #fff;
  background-position: left; /*when clicked change property throug js to right and bgcolor to #000*/
  transition: linear 0.1s;
  border-radius: 15px;
  border: 2px solid var(--linkcolor);
  margin-left: 1.5em;
}

#breadcrumb{
  background-color: var(--breadcrumbbg);
  border-radius: 5px;
  border-top: 3px solid #3b3c41;
  border-bottom: 2px solid #3b3c41;
  color: var(--txtcolor);
  font-size: var(--globaltxtsize);
}

#breadcrumb img{
  display: inline;
  width: var(--globaltxtsize);
  height: var(--globaltxtsize);
  margin: 0em 0.5em 0em 0.5em;
}

#breadcrumb p{
  display: inline;
  padding: 0.5em;
}


/*******************
       CONTENT
********************/

#products{
  color: var(--txtcolor);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0em;
  justify-content: center;
  margin-top: 2em;
  
}

#products li{
  padding: 10px;
  border-radius: 10px;
  flex: 0 0 270px;
  text-align: center;
  border: solid white 1px;
  margin: 1em;
}

#products li p {
  font-size: var(--globaltxtsize);
}

.productTitle {
  font-size: 1.2em;
}

/*******************
 SLIDESHOW CONTAINER
********************/

.slideshowContainer {
  max-width: 1024px;
  position: relative;
}

.mySlides {
  display: none;
}

.mySlides:first-child {
  display: block;
}

.mySlides img {
  max-width: 100%;
  max-height: 70vh;
  border-radius: 2rem;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2em;
  padding: 1em;
  color: white;
  font-weight: bold;
  font-size: 2em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#dots {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 1em;
  width: 1em;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
      opacity: .4
  }

  to {
      opacity: 1
  }
}

/*******************
       FOOTER
********************/

/*******************
    BACK TO TOP
********************/
#toTopBTN {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#toTopBTN::after {
  content: "\f077";
  font-family: "Verdana", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#toTopBTN:hover {
  cursor: pointer;
  background-color: #333;
}
#toTopBTN:active {
  background-color: #555;
}
#toTopBTN.show {
  opacity: 1;
  visibility: visible;
}

/*******************
       LOGIN PAGE
********************/
#loginBox{
  position: relative;
  justify-content: center;
  width: 380px;
  height: 420px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}

#loginBox::before{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent,var(--animatedformcolor), var(--animatedformcolor));
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

#loginBox::after{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent,var(--animatedformcolor), var(--animatedformcolor));
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3;
}

@keyframes animate{
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}

#loginForm{
  position: absolute;
  justify-content: center;
  inset: 2px;
  border-radius: 8px;
  background-color: #28292d;
  z-index: 10;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
}

.login-box-container{
  display: flex;
  justify-content: center;
  align-items: center;
}