.theme-dark{
    --navmenubg: rgba(0, 0, 0, 0.95);
}

.theme-light{
    --navmenubg: rgba(255, 255, 255, 0.90);
}

/******************* HEADER ********************/
header {
    height: 4em;
}

header h1 {
    width: 55%;
    height: 100%;
}

/******************* NAVIGATION ********************/
#menu ul {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 4em;
    z-index: 1; /*display on top of everything so images don't fuck things up*/
    width: fit-content;
    height: fit-content;
    background-color: var(--navmenubg);
    padding: 2em;
    border-radius: 1em;
    order: 3; /*set display order to 3 post hamburger*/
}

#menu li {
    margin: 0em 0em 1em 0em; /*resetta il margine sulla sisnistra e lo mette sotto*/
}

#hamburger {
    display: block;
    text-align: center;
    /*hidden by default in main style, unhidden in mini*/
    min-height: 44px;
    min-width: 44px;
    background: none;
    border: none;
    color: var(--txtcolor);
    font-size: 44px;
    order: 2; /*set display order to 2 per menu*/
    cursor: pointer;  
}

#hamburger:after {
    position: relative;
    top: -4px; /*adjust position of hamburger, pixel comparsi da non si sa dove*/
    content: "\2630";
}

#hamburger span {
    display: block;
    text-indent: -9999em;
    font-size: 1px;
}

/******************* FOOTER ********************/
footer {
    flex-direction: column;
}

#contactsOnFooter ul li span {
    padding-top: 0em;
}

/******************* TABLE ********************/

#hoursTable {
    display: none;
}

#hoursInTxtFormat{
    display: block;
}

/******************* 404 ********************/
#advice {
    display: inline;
    text-align: center;
    list-style-type: none;
}
#advice li {
    margin: 2.3em;
}

#advice a {
    padding: 1em 3em;
    white-space: nowrap;
}

main p {
    margin-left: 0.5em;
}